// Import of the variables file.
@import "./variables";


// This file contains the styles of our application.
// This file will be compiled in the main.css in our 'dist' dir.

body,html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

h4 {
  margin-top: 0px;
}
h1{
  margin-bottom:0px;
}

.margin10_t{
  margin-top:10px;
}

.book {
  display: block;
  float: left;
  height: 430px;
  border: 1px solid gray;
}

img.image_book {
  width: 150px;
  height: 250px;
  max-width: 150px;
  margin: 40px auto;
  display: block;
}

.height_icon{
  height: 30px;
}

.input_search{
  line-height: 26px;
  border: 1px solid gray;
  border-right: 0px solid;
}
